.product-container{
    margin: 10px;
    background-color: aqua;
    border: 1px solid orange;
    border-radius: 5px;
}
.btn-cart{
    width: 100%;
    border: none;
    background-color: rgba(255, 72, 0, 0.747);
}
.btn-cart:hover{
    background-color: orange;
}